[Unit]
Description=Solr Document Store
Requires=docker.service

[Service]
ExecStartPre=/bin/sleep 1
ExecStartPre=/usr/bin/docker pull solr:7.6.0
ExecStart=/usr/bin/docker run --restart=always --volume=/opt/solr/omeka:/opt/solr/server/solr/omeka --name=solr -p=8983:8983 solr:7.6.0
ExecStop=/usr/bin/docker stop solr
ExecStopPost=/usr/bin/docker rm -f solr
ExecReload=/usr/bin/docker restart solr
[Install]
WantedBy=multi-user.target
