---

- hosts: all
  become: yes
  gather_facts: False
  pre_tasks:
    - raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
  roles:
    - common
    - mysql
    - apache
    - omeka
    - solr
